body

.titulo_principal {padding-left: 20px;}

#banner {width: 100%}

.principal {background: #CCCCCC;
			padding: 30px}

.titulo_centralizado {text-align: center;}

h2 {height: 80px; 
	border: 10px solid #000000; 
	height: 100px; 
	padding-top: 50px; 
	margin-right: 40px; 
	margin-left: 40px}

p {text-align: center;}

#missao {font-size: 20px;}

em strong {color: red;}

.beneficios {background: #FFFFFF;
			padding: 20px}

.itens {font-style: italic;}

ul {display: inline-block; 
	vertical-align: top; 
	width: 20%;
	margin-right: 15%;}

.bene {width: 50%}